<section class="p-5 m-5">
  <div class="text-center m-auto m-5 p-5">
    <h1 class="maintext text-uppercase">About</h1>
    <div class="startmo">
      <i class="line"></i>
      <i class="fa-solid fa-star"></i>
      <i class="line"></i>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2 g-5 mt-1">
      <div class="col">
        <h4>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </h4>
      </div>
      <div class="col">
        <h4>
          You can create your own custom avatar for the masthead, change the
          icon in the dividers, and add your email address to the contact form
          to make it fully functional!.
        </h4>
      </div>
    </div>
  </div>
</section>
