<section class="navbarmo shadow-lg">
  <nav
    class="navbar navbar-expand-lg nav-bg nav-bg position-sticky fixed-top z-3 col-md-6 col-lg-9 mb-4 m-auto"
  >
    <div class="container">
      <h5 class="navbar-brand mb-0 text-uppercase">
        <img
          src="./assets/images/Logo.png"
          alt="logo photo"
          style="max-width: 40px"
        />
        Mostafa Mohamed
      </h5>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse small navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav ms-auto mb-2 mb-lg-0 menu small align-items-center"
        >
          <li class="nav-item">
            <a
              role="button"
              class="nav-link text-uppercase"
              aria-current="page"
              routerLinkActive="active"
              routerLink="home"
              data-category="home"
              >home</a
            >
          </li>
          <li class="nav-item">
            <a
              role="button"
              class="nav-link text-uppercase"
              routerLinkActive="active"
              routerLink="portfolio"
              data-category="portfolio"
              >portfolio</a
            >
          </li>
          <li class="nav-item">
            <a
              role="button"
              class="nav-link text-uppercase"
              routerLinkActive="active"
              routerLink="about"
              data-category="about"
              >about</a
            >
          </li>
          <li class="nav-item">
            <a
              role="button"
              class="nav-link text-uppercase"
              routerLinkActive="active"
              routerLink="contactus"
              data-category="contactus"
              >contact us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
