<div class="mb-3">
    <a
    href="MangoVideoPlayer:?video=https://www.youtube.com/embed/Urk6SxuBMyQ?si=0BdYhVLTusfhHnxz&video_iframe=https://www.youtube.com/embed/Urk6SxuBMyQ?si=0BdYhVLTusfhHnxz&videoName=Mango&studentName=Mostafa%20Mohamed&studentViews=192&clientLogo=https://mr-muyassar.com/new_student/Frontend-Mr.Muyasser-main/images/logo.png&clientName=Mr.%20Mostafa%20Mohamed&VersionNumber=1.0&NameAboveVid=1&NameMoveSeconds=3">
     <button class="btn btn-success fw-bolder p-3">
            <i class="fa fa-play p-1 fw-bolder fs-5"></i> Open Video in Manga Video Player
        </button></a>
</div>
<div class="d-flex justify-content-start align-items-start vh-100">

    <iframe width="100%" height="75%" src="https://www.youtube.com/embed/DmGOmZ8AKyk?si=ttkQtens4n2eFiO8"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>
