<section class="">
  <div class="text-center m-auto">
    <h1 class="maintext text-uppercase">Portfolio</h1>
    <div class="startmo">
      <i class="line"></i>
      <i class="fa-solid fa-star"></i>
      <i class="line"></i>
    </div>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-5 mt-1">
      <div class="col">
        <div class="mocolhov" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
          <div
            class="d-flex align-items-center justify-content-center w-100 h-100 position-relative"
          >
            <div class="plushover rounded-5">
              <i class="fa-solid fa-plus"></i>
            </div>
            <img
              class="h-100 w-100 rounded-5"
              src="./assets/images/portfolio/cabin.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mocolhov" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
          <div
            class="d-flex align-items-center justify-content-center w-100 h-100 position-relative"
          >
            <div class="plushover rounded-5">
              <i class="fa-solid fa-plus"></i>
            </div>
            <img
              class="h-100 w-100 rounded-5"
              src="./assets/images/portfolio/cake.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mocolhov"  data-bs-toggle="modal" data-bs-target="#portfolioModal3">
          <div
            class="d-flex align-items-center justify-content-center w-100 h-100 position-relative"
          >
            <div class="plushover rounded-5">
              <i class="fa-solid fa-plus"></i>
            </div>
            <img
              class="h-100 w-100 rounded-5"
              src="./assets/images/portfolio/circus.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mocolhov" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
          <div
            class="d-flex align-items-center justify-content-center w-100 h-100 position-relative"
          >
            <div class="plushover rounded-5">
              <i class="fa-solid fa-plus"></i>
            </div>
            <img
              class="h-100 w-100 rounded-5"
              src="./assets/images/portfolio/game.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mocolhov" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
          <div
            class="d-flex align-items-center justify-content-center w-100 h-100 position-relative"
          >
            <div class="plushover rounded-5">
              <i class="fa-solid fa-plus"></i>
            </div>
            <img
              class="h-100 w-100 rounded-5"
              src="./assets/images/portfolio/safe.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mocolhov" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
          <div
            class="d-flex align-items-center justify-content-center w-100 h-100 position-relative"
          >
            <div class="plushover rounded-5">
              <i class="fa-solid fa-plus"></i>
            </div>
            <img
              class="h-100 w-100 rounded-5"
              src="./assets/images/portfolio/submarine.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 maintext text-uppercase" id="portfolioModal1Label">Log Cabin</h2>
                          <!-- Icon Divider-->
                          <div class="startmo">
                            <i class="line"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="line"></i>
                          </div>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="./assets/images/portfolio/cabin.png" alt="">
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                          <button class="btn btn-success" data-bs-dismiss="modal">
                              <svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> Font Awesome fontawesome.com -->
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="portfolioModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 maintext text-uppercase" id="portfolioModal2Label">TASTY CAKE</h2>
                          <!-- Icon Divider-->
                          <div class="startmo">
                            <i class="line"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="line"></i>
                          </div>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="./assets/images/portfolio/cake.png" alt="">
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                          <button class="btn btn-success" data-bs-dismiss="modal">
                              <svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> Font Awesome fontawesome.com -->
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="portfolioModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 maintext text-uppercase" id="portfolioModal3Label">CIRCUS TENT</h2>
                          <!-- Icon Divider-->
                          <div class="startmo">
                            <i class="line"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="line"></i>
                          </div>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="./assets/images/portfolio/circus.png" alt="">
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                          <button class="btn btn-success" data-bs-dismiss="modal">
                              <svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> Font Awesome fontawesome.com -->
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="portfolioModal4Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 maintext text-uppercase" id="portfolioModal4Label">CONTROLLER</h2>
                          <!-- Icon Divider-->
                          <div class="startmo">
                            <i class="line"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="line"></i>
                          </div>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="./assets/images/portfolio/cabin.png" alt="">
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                          <button class="btn btn-success" data-bs-dismiss="modal">
                              <svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> Font Awesome fontawesome.com -->
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="portfolioModal5Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 maintext text-uppercase" id="portfolioModal5Label">LOCKED SAFE</h2>
                          <!-- Icon Divider-->
                          <div class="startmo">
                            <i class="line"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="line"></i>
                          </div>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="./assets/images/portfolio/safe.png" alt="">
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                          <button class="btn btn-success" data-bs-dismiss="modal">
                              <svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> Font Awesome fontawesome.com -->
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-labelledby="portfolioModal6Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></span>
          </button>
          <div class="modal-body text-center">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <!-- Portfolio Modal - Title-->
                          <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 maintext text-uppercase" id="portfolioModal6Label">SUBMARINE</h2>
                          <!-- Icon Divider-->
                          <div class="startmo">
                            <i class="line"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="line"></i>
                          </div>
                          <!-- Portfolio Modal - Image-->
                          <img class="img-fluid rounded mb-5" src="./assets/images/portfolio/submarine.png" alt="">
                          <!-- Portfolio Modal - Text-->
                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                          <button class="btn btn-success" data-bs-dismiss="modal">
                              <svg class="svg-inline--fa fa-times fa-w-11 fa-fw" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times fa-fw"></i> Font Awesome fontawesome.com -->
                              Close Window
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
